[submodule "termlib"]
	path = termlib
	url = https://github.com/GlassOnTin/termlib.git
	branch = main
[submodule "mosh-kotlin"]
	path = mosh-kotlin
	url = https://github.com/GlassOnTin/ssp-transport.git
[submodule "build-proot/proot-termux"]
	path = build-proot/proot-termux
	url = https://github.com/GlassOnTin/proot
	branch = haven-299-fd-fix
[submodule "wayland-android"]
	path = wayland-android
	url = https://github.com/GlassOnTin/wayland-android.git
	branch = main
[submodule "reticulum-kt"]
	path = reticulum-kt
	url = https://github.com/GlassOnTin/reticulum-kt.git
	branch = main
[submodule "rnsh-kt"]
	path = rnsh-kt
	url = https://github.com/GlassOnTin/rnsh-kt.git
[submodule "prns"]
	path = prns
	url = https://github.com/GlassOnTin/Prns.git
	branch = trunk
